.btn {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 0.8rem 3.2rem;

    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;

    background-color: transparent;

    color: $green;
    border-color: $green;

    z-index: 2;

    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out, fill 0.3s ease-in-out;

    // border-color 0.15s ease-in-out

    &:hover {
        background-color: $green;
        color: $white;
        text-decoration: none;

        .icon {
            fill: $white;
        }
    }

    &--green {
        color: $white;
    }

    @media (max-width: $breakpoints_xl) {
        padding: 0.8rem 1.6rem;
    }
}

.btn_group {
    background-color: $white;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .icon {
        fill: $green;
        margin-right: 0;
    }

    &:hover {
        background-color: $gray-light;
        .icon {
            transition: fill 0.15s ease-in-out;
            fill: $green;
        }
    }
}

.btn_rock {
    margin-bottom: 1.6rem;
    min-width: 190px;

    &:hover {
        background-color: $green;
        color: $white;
        .icon {
            fill: $white;
        }
    }
}

.btn_intro {
    border-color: $white;
    color: $white;

    &:nth-child(1) {
        border-radius: 4px 0 0 4px;
    }
    &:nth-child(2) {
        border-radius: 0 4px 4px 0;
        border-left: none;
    }

    @media (min-width: 425px) {
        min-width: 190px;
    }

    @media (max-width: 425px) {
        width: 100%;
    }
}

.btn_active,
.btn_intro:hover {
    background-color: $white;
    color: $green;
    .icon {
        fill: $green;
    }
}

.btn_nav {
    align-self: center;

    @media (min-width: $breakpoints_xs) and (max-width: $breakpoints_xm) {
        // font-size: 0;
        .icon {
            margin: 0;
        }
    }

    @media (max-width: $breakpoints_xm) {
        width: 100%;
    }
}
