.footer {
    margin-top: auto;

    background-color: $black;

    color: $white;
}

.footer__row {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}

.footer__text {
    padding: 1rem 0 0.8rem 0;
    text-align: center;

    font-size: 1.4rem;
}
