.gallery {
	position: relative;
}

.gallery__slider {
	position: relative;
	margin-bottom: 1.6rem;
	overflow: hidden;
	min-width: 0;

	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;

		background: $white url("/assets/img/ajax-loader.gif") center no-repeat;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}

	&.slick-initialized {
		&:after {
			display: none;
		}
	}
}

.gallery__item {
	max-height: 540px;
	position: relative;
	overflow: hidden;
}

.gallery__item img {
	display: block;
	max-width: 100%;
	height: auto;
}

.gallery__arrow {
	padding: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 2;

	text-decoration: none;
	cursor: pointer;

	&:hover {
		.gallery__arrow-icon {
			fill: $green;
		}
	}

	&--prev {
		left: 0;
		transform: rotate(-180deg);
	}

	&--next {
		right: 0;
	}
}

.gallery__arrow-icon {
	width: 3.2rem;
	height: 3.2rem;
	fill: $gray;
	transition: fill 0.1s linear;
}
