.icon {
    width: 2.4rem;
    height: 2.4rem;

    fill: $green;

    transition: fill 0.1s ease-out, opacity 0.1s ease-out;
}

.icon--white {
    fill: $white;
}

.icon_logo {
    display: flex;
    align-items: center;
    height: calc(min(70vw, 56px));
    width: calc(min(60vw, 240px));
}

.btn .icon,
.accordion-button .icon {
    margin-right: 0.8rem;
}
