.login {
    margin: 0 0 1.6rem 0;
    // padding: 3.2rem 1.6rem;

    padding: 1.6rem 3.2rem;

    font-size: 1.6rem;

    border-radius: $radius;
    box-shadow: $shadow;
    background-color: $white;
}

.form-control {
    font-size: 1.6rem;
}
