.nav {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 1.6rem;
    text-transform: uppercase;

    @media (max-width: $breakpoints_md) {
        align-items: flex-end;

        :nth-last-child(2) {
            margin-right: 0;
        }

        .nav__link {
            margin-bottom: 0.8rem;
        }
    }

    @media (max-width: breakpoints_xs) {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

.nav-link:focus {
    color: $gray;
}

.navbar-expand-md .navbar-nav .nav-link {
    @media (min-width: $breakpoints_md) {
        padding-right: 1.6rem;
        padding-left: 1.6rem;
    }
}

.nav__link {
    align-self: center;

    color: $gray;
    text-decoration: none;

    &:hover {
        transition: 0.3s ease-in-out;

        color: $white;
        cursor: pointer;
    }

    &.active {
        color: $white;
    }
}

.nav__btn {
    display: flex;
    justify-content: flex-end;

    @media (max-width: $breakpoints_md) {
        margin-bottom: 0.8rem;
    }
}
