$rock-border-color: #e2edd852;

.rock {
    margin-bottom: 3.2rem;
}

.rock__card {
    padding: 1.6rem 3.2rem;

    border-radius: $radius;
    box-shadow: $shadow;
    background-color: $white;
}

.rock__top {
    display: flex;
    justify-content: center;
    margin: 0;

    padding: 1.6rem 0;
}

.rock__img {
    display: flex;
    justify-content: center;

    @media (max-width: $breakpoints_md) {
        margin-bottom: 1.6rem;
    }
}

.rock__info {
    padding: 0 3rem 0 1.6rem;

    *:last-child {
        margin-bottom: 0;
    }

    @media (max-width: $breakpoints_sm) {
        border-right: none;
        padding: 0;
    }
}

.rock__text {
    margin-bottom: 0.8rem;

    font-size: 1.6rem;

    &--gray {
        color: $gray;
    }
}

.rock__main {
    margin: 0;
    padding: 1.6rem 0;

    border-top: 1px solid $rock-border-color;
}

.rock__details {
    padding: 0 1.6rem 0 3rem;

    border-left: 1px solid $rock-border-color;

    @media (max-width: $breakpoints_sm) {
        border: none;
        padding-left: 0;
        margin-bottom: 3.2rem;
    }
}

.rock__details_large {
    padding: 0 1.6rem;

    border: none;
}

.rock__launch-btns {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    border-left: 1px solid $rock-border-color;

    padding-left: 3rem;

    @media (max-width: $breakpoints_md) {
        padding-left: 0;
        border: none;
    }
}

.rock__title {
    display: flex;
    justify-content: flex-start;

    margin-bottom: 1.6rem;
}

.rock__info .rock__title {
    @media (max-width: $breakpoints_sm) {
        display: none;
    }
}

.rock__top .rock__title {
    display: none;
    @media (max-width: $breakpoints_sm) {
        display: inline-flex;
        justify-content: center;
    }
}
