<!-- Cards -->
<section class="cards">
	<div class="container">
		<!-- cards__row -->
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
			<div class="col">
				<div class="card">
					<!-- card__thumb -->
					<a class="card__thumb" href="#">
						<img class="card__img" src="/assets/img/stone2.png" alt="" />
						<h3 class="card__title">Эпигранит</h3>
					</a>
					<!-- ./ card__thumb -->
					<!-- card__body -->
					<div class="card__body">
						<div class="btn-group card__btn-group" role="group" aria-label="Basic outlined example">
							<a class="btn btn_group"><svg class="icon" >
								<use href="/assets/sprite/sprite.svg#feed"></use>
							</svg></a>
							<a class="btn btn_group">
							<svg class="icon" >
								<use href="/assets/sprite/sprite.svg#feed"></use>
							</svg>
							</a>
							<a class="btn btn_group"><svg class="icon" >
								<use href="/assets/sprite/sprite.svg#360"></use>
							</svg></a>
						</div>
					</div>
					<!-- ./ card__body -->
				</div>
			</div>

			<div class="col">
				<div class="card">
					<a class="card__thumb" href="#">
						<img class="card__img" src="/assets/img/stone.jpg" alt="" />
						<h3 class="card__title">Гранит</h3>
					</a>
					<div class="card__body">
						<div class="btn-group card__btn-group" role="group" aria-label="Basic outlined example">
							<a class="btn btn_group"><svg class="icon" >
								<use href="/assets/sprite/sprite.svg#biotech"></use>
							</svg></a>
							<a class="btn btn_group">
							<svg class="icon" >
								<use href="/assets/sprite/sprite.svg#feed"></use>
							</svg>
							</a>
							<a class="btn btn_group"><svg class="icon" >
								<use href="/assets/sprite/sprite.svg#360"></use>
							</svg></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card">
					<a class="card__thumb" href="#">
						<img class="card__img" src="/assets/img/Метеорит.png" alt="" />
						<h3 class="card__title">Метеорит</h3>
					</a>
					<div class="card__body">
						<div class="btn-group card__btn-group" role="group" aria-label="Basic outlined example">
							<a class="btn btn_group"><svg class="icon" >
								<use href="/assets/sprite/sprite.svg#biotech"></use>
							</svg></a>
							<a class="btn btn_group">
							<svg class="icon" >
								<use href="/assets/sprite/sprite.svg#feed"></use>
							</svg>
							</a>
							<a class="btn btn_group"><svg class="icon" >
								<use href="/assets/sprite/sprite.svg#360"></use>
							</svg></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card">
					<a class="card__thumb" href="#">
						<img class="card__img" src="/assets/img/Реголит.png" alt="" />
						<h3 class="card__title">Реголит</h3>
					</a>
					<div class="card__body">
						<div class="btn-group card__btn-group" role="group" aria-label="Basic outlined example">
							<a class="btn btn_group"><svg class="icon" >
								<use href="/assets/sprite/sprite.svg#biotech"></use>
							</svg></a>
							<a class="btn btn_group">
							<svg class="icon" >
								<use href="/assets/sprite/sprite.svg#feed"></use>
							</svg>
							</a>
							<a class="btn btn_group"><svg class="icon" >
								<use href="/assets/sprite/sprite.svg#360"></use>
							</svg></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<a class="card__thumb" href="#">
						<img class="card__img" src="/assets/img/Андалузит.png" alt="" />
						<h3 class="card__title">Андалузит</h3>
					</a>
					<div class="card__body">
						<div class="btn-group card__btn-group" role="group" aria-label="Basic outlined example">
							<a class="btn btn_group"><svg class="icon" >
								<use href="/assets/sprite/sprite.svg#biotech"></use>
							</svg></a>
							<a class="btn btn_group">
							<svg class="icon" >
								<use href="/assets/sprite/sprite.svg#feed"></use>
							</svg>
							</a>
							<a class="btn btn_group"><svg class="icon" >
								<use href="/assets/sprite/sprite.svg#360"></use>
							</svg></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<a class="card__thumb" href="#">
						<img class="card__img" src="/assets/img/Базальт.jpg" alt="" />
						<h3 class="card__title">Базальт</h3>
					</a>
					<div class="card__body">
						<div class="btn-group card__btn-group" role="group" aria-label="Basic outlined example">
							<a class="btn btn_group"><svg class="icon" >
								<use href="/assets/sprite/sprite.svg#biotech"></use>
							</svg></a>
							<a class="btn btn_group">
							<svg class="icon" >
								<use href="/assets/sprite/sprite.svg#feed"></use>
							</svg>
							</a>
							<a class="btn btn_group"><svg class="icon" >
								<use href="/assets/sprite/sprite.svg#360"></use>
							</svg></a>
						</div>
					</div>
				</div>
			</div>
			<!-- ./ Cards__row -->
	</div> 
</section> <!-- ./ Cards -->

