<section>
    <div class="container">
        <div class="row">
            <div class="container container--xs">
                <div
                    class="
                        row
                        d-flex
                        flex-column
                        align-content-center
                        justify-content-center
                        mb-3
                    "
                >
                    <div class="col-12 col-xs-8 col-md-7 col-lg-5">
                        <div class="login">
                            <div class="card__body">
                                <div
                                    class="
                                        btn-container
                                        d-flex
                                        flex-column
                                        align-items-center
                                    "
                                >
                                    <h1 class="text-center mb-3">
                                        Войти с использованием учетной записи
                                        ТПУ:
                                    </h1>
                                    <button class="btn">
                                        <svg class="icon">
                                            <use
                                                href="/assets/sprite/sprite.svg#tpu-icon"
                                            ></use></svg
                                        >Войти
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-xs-8 col-md-7 col-lg-5">
                        <div class="login">
                            <div class="card__body">
                                <h1 class="mb-1 text-center">Вход</h1>

                                <p class="text-center mb-3">
                                    Пожалуйста, введите вашу почту и пароль.
                                </p>
                                <form>
                                    <div class="mb-3">
                                        <label
                                            for="exampleInputEmail1"
                                            class="form-label"
                                            >Email
                                        </label>
                                        <input
                                            type="email"
                                            class="form-control"
                                            id="InputEmail"
                                            aria-describedby="emailHelp"
                                        />
                                    </div>
                                    <div class="mb-3">
                                        <label
                                            for="InputPassword"
                                            class="form-label"
                                            >Пароль</label
                                        >
                                        <input
                                            type="password"
                                            class="form-control"
                                            id="exampleInputPassword1"
                                        />
                                    </div>

                                    <div
                                        class="
                                            btn-container
                                            d-flex
                                            flex-column
                                            align-items-center
                                        "
                                    >
                                        <button type="submit" class="btn mb-2">
                                            <svg class="icon">
                                                <use
                                                    href="/assets/sprite/sprite.svg#login"
                                                ></use>
                                            </svg>
                                            Войти
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
