<!-- Intro -->
<section class="intro">
    <div class="container">
        <!-- intro__inner -->
        <div class="intro__inner row">
            <div class="col-md-8 p-0">
                <h1 class="intro__title">Цифровая коллекция</h1>
                <h2 class="intro__subtitle">
                    Ищите образцы горных пород в наших коллекциях, используя
                    параметры поиска или интерактивную карту.
                </h2>
                <div class="intro__btn">
                    <a class="btn btn_intro" href="#">
                        <svg class="icon icon--white">
                            <use href="/assets/sprite/sprite.svg#search"></use>
                        </svg>
                        Поиск</a
                    >
                    <a class="btn btn_intro" href="#">
                        <svg class="icon icon--white">
                            <use
                                href="/assets/sprite/sprite.svg#location"
                            ></use>
                        </svg>
                        Карта</a
                    >
                </div>
            </div>
        </div>
        <!-- ./ intro__inner -->
    </div>
</section>
<!-- ./ Intro -->

<!-- Breadcrumb -->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#"> Изучение</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Карта</li>
        </ol>
    </nav>
</div>
<!-- ./ Breadcrumb -->

<!-- Map -->
<div class="main">
    <div class="search">
        <div class="container">
            <h2 class="text-center mb-3">
                Интерактивная карта месторасположения
            </h2>
            <p class="text-center">
                Интерактивная карта расположения позволяет просматривать
                распределение многих из наших образцов горных пород на карте
                Земли. Отдельные образцы отображаются как красный «значок
                местоположения» , но там, где контакты слишком близки, чтобы их
                можно было увидеть по отдельности, пронумерованный кружок
                указывает на несколько контактов. Чтобы просмотреть отдельные
                булавки, просто увеличьте интересующую область и щелкните
                булавку, чтобы отобразить всплывающее окно с названием образца и
                небольшим изображением камня. Для получения дополнительной
                информации об образце, щелкнув имя образца, вы откроете
                информационный бюллетень по отдельному образцу со всей связанной
                информацией.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="card"><div id="map" class="map"></div></div>
    </div>
</div>
<!-- ./ Map -->
