@import "normalize";
@import "functions";
@import "vars";
@import "mixins";

html {
    font-size: 10px;
}

body {
    margin: 0;

    background-color: #f0f0f0;

    font-size: 16px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.6;
}

/* Default styles */

.page {
    padding-top: 8.4rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $gray-tpu;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    min-height: 0;
    min-width: 0;
}

.main {
    margin-bottom: 3.2rem;
}

.main--white {
    background-color: $white;
}

// margin and padding bootstrap (mt-3, mb-4...)
$spacer: 1.6rem;

/* Bootstrap */
// @import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../../node_modules/bootstrap/scss/bootstrap-utilities";
@import "../../../node_modules/bootstrap/scss/_button-group";
@import "../../../node_modules/bootstrap/scss/_buttons";
@import "../../../node_modules/bootstrap/scss/_card";
@import "../../../node_modules/bootstrap/scss/_forms";
@import "../../../node_modules/bootstrap/scss/_dropdown";
@import "../../../node_modules/bootstrap/scss/_nav";
@import "../../../node_modules/bootstrap/scss/_navbar";
@import "../../../node_modules/bootstrap/scss/_accordion";
@import "../../../node_modules/bootstrap/scss/_breadcrumb";

/* Blocks */
@import "blocks/img";
@import "blocks/navbar";
@import "blocks/nav";
@import "blocks/cards";
@import "blocks/card";
@import "blocks/footer";
@import "blocks/content";
@import "blocks/rock";
@import "blocks/card-list";
@import "blocks/login";
@import "blocks/btn";
@import "blocks/icon";
@import "blocks/search";
@import "blocks/intro";
@import "blocks/breadcrumb";
@import "blocks/pagination";
@import "blocks/form";
@import "blocks/map";
@import "blocks/accordion";
@import "blocks/gallery";
@import "blocks/video";
@import "blocks/tabs";
@import "blocks/microscope";

/* Vendor libs */
@import "vendor/slick";
@import "vendor/leaflet";
@import "vendor/slimselect";

body {
    margin: 0;

    background-color: #f0f0f0;

    font-size: 1.6rem;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.6;
}

p {
    margin-bottom: 0.8rem;

    font-size: 1.6rem;
}

a {
    color: var(--c, $green);
}

.placeholder {
    background-color: $white;
    cursor: pointer;
    opacity: 1;
    min-height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
