<div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
        <button id="accordion-button-gallery" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <svg class="icon">
                <use href="/svg/sprite.svg#photo_library"></use>
            </svg>
            Галерея
        </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne">
        <div class="accordion-body">
            <!-- gallery -->
            <div class="gallery">
                <a id="gallery-arrow-prev" class="
                        gallery__arrow
                        gallery__arrow--prev
                    ">
                    <svg class="
                            icon
                            gallery__arrow-icon
                        ">
                        <use href="/svg/sprite.svg#next"></use>
                    </svg>
                </a>
                <a id="gallery-arrow-next" class="
                        gallery__arrow
                        gallery__arrow--next
                    ">
                    <svg class="
                            icon
                            gallery__arrow-icon
                        ">
                        <use href="/svg/sprite.svg#next"></use>
                    </svg>
                </a>
                <div class="gallery__slider" id="gallery">
                    @foreach($gallery as $photo)
                    <div class="sc">
                        <div class="gallery__item">
                            <img data-lazy="/assets/img/intro-bg.png" src="{{$photo}}" alt="" />
                        </div>
                    </div>
                    @endforeach
                </div>
            </div>
            <!-- ./ gallery -->
        </div>
    </div>
</div>
