<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="index, follow, noodp" />
<meta name="googlebot" content="index, follow" />
<meta name="description" content="Цифровая коллекция" />
<meta
    name="keywords"
    content="цифровой микроскоп, микроскоп, порода, минералы, окаменелости "
/>

<title>@@title</title>

<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- style.css -->
<link rel="stylesheet" href="/css/style.css" />
<!-- <link rel="stylesheet" href="/assets/css/style.css" /> -->
