<!-- Intro -->
<section class="intro">
    <div class="container">
        <!-- intro__inner -->
        <div class="intro__inner row">
            <div class="col-md-8">
                <h1 class="intro__title">Цифровая коллекция</h1>
                <h2 class="intro__subtitle">
                    Ищите образцы горных пород в наших коллекциях, используя
                    форму поиска или интерактивную карту.
                </h2>
                <div class="intro__btn">
                    <a class="btn btn_intro" id="searchBtn" href="">
                        <svg class="icon icon--white">
                            <use href="/svg/sprite.svg#search"></use>
                        </svg>
                        Поиск</a>
                    <a class="btn btn_intro" id="mapBtn" href="">
                        <svg class="icon icon--white">
                            <use href="/svg/sprite.svg#location"></use>
                        </svg>
                        Карта</a>
                </div>
            </div>
        </div>
        <!-- ./ intro__inner -->
    </div>
</section>
<!-- ./ Intro -->
